/ZooAnimals.py
/classTest.py
/countBy3s.py
/custom_function.py
/emotions.py
/evenodd.py
/grading.py
/inheritance.py
/lion_sloth.py
/modules.py
/sequences.py
/simplemath.py
/slothlion.py
/starfishBattle.py
/starfish_setup.py
/tasks.py
/tasks.txt
/test.py
/test.txt
/thread_example.py
/triangle.py
/vampire.py
/vampire_setup.py
/while_practice.py
/zoo.py
/zoo_inherit.py